html{
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

/* NAVIGATION */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #111;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all .7s ease;
  border-bottom: 1px solid #111;
}

.navbar.top {
  background-color: #111;
}

.navbar.top a {
  color: #fff;
}


.navbar a {
  color: #111;
  text-decoration: none;
}

.logo {
  font-size: 1.6rem;
  padding: 10px;
}

.text {
  font-weight: 700;
}

.toggle {
  font-size: 1.375rem;
  position: absolute;
  top: 13px;
  right: 30px;
  display: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 300;
}

.navbar ul li {
  transition: all .5s ease;
}

.navbar ul li a {
  display: block;
  width: 100%;
  padding: 20px 40px;
}

.navbar ul li:hover {
background-color: rgb(245, 245, 245);
}

.navbar.top ul li:hover {
  background-color: #333;
}


/* HEADER */
header {
  background:rgba(0, 0, 0, 0.4) url('../images/jelmer-assink-gzeTjGu3b_k-unsplash.jpg') no-repeat center center/cover;
  background-blend-mode: darken;
  height: 100vh;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  opacity: 0.9;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

 p.line {
  padding: 20px 80px;
  border-bottom: 1px solid #fff;
}

p {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 20px;
}

/* MAIN */
#classes {
  text-align: center;
  padding: 30px 0 80px 0;
  opacity: 0.8;
}

#classes h2 {
  margin: 40px 0 0 0;
  font-size: 2rem;
}

#classes h3 {
  font-size: 1.5rem;
}

#classes .container {
  display: flex;
  padding: 0 20px;
}

#classes .container .box {
  flex:1;
}

#classes div {
  margin: 10px;
}

#classes p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

#classes i {
margin: 20px;
color: rgb(253, 172, 143);
}

/* PARALLAX 2 */
#pic2 {
  background: rgba(0, 0, 0, 0.4) url('../images/risen-wang-20jX9b35r_M-unsplash.jpg') no-repeat center center/cover;
  background-blend-mode: darken;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
  opacity: 0.9;
}

#pic2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  color: #fff;
  letter-spacing: 4px;
  text-align: center;
}

#pic2 .container h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

/* GALLERY */
#gallery {
padding: 30px;
}

#gallery .container {
  max-width: 1200px;
  margin: auto;
}

#gallery h1 {
  margin-bottom: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

#gallery .box {
  width: 100%;
  height: 100%;
}

#gallery .box img {
  width: 100%;
  height: 100%;
  transition: .5s;
  opacity: 0.9;
  border-radius: 5px;
}

#gallery .box img:hover {
  filter: opacity(0.8);
  transform: scale(1.01);
}

#gallery h1 {
  text-align: center;
  padding: 30px 0;
}

/* FOOTER */

footer {
  padding: 10px 0 30px 0;
  background-color: #111;
}

footer .box1 {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .box1 i {
  color: #fff;
  font-size: 1.2rem;
}

footer .box1 a {
  margin: 0 20px;
}

footer .container {
  display: flex;
  justify-content: space-around;
}

footer .box2 {
  margin: 10px;
  color: #fff;
}


footer .box2 p {
  font-size: 0.9rem;
  padding: 0;
  line-height: 1.6;
}

footer .box2 a {
  margin: 20px 0;
}

footer .box2 h3 {
  margin: 20px 0; 
}

footer .box3 {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

footer .box3 a { 
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.8;
  margin: 2px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a, i {
  transition: all 0.7s ease;
}


footer a:hover {
  color: #777;
}

footer i:hover {
  color: #777;
}



@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .links {
    width: 100%;
    display: none;
  }

  .navbar ul {
    display:block;
    text-align: center;
  }

  .toggle {
    display: flex;
  }

  .active.links {
    display: flex;
  }

  header .container {
    text-align: center;
    padding: 0 30px;
  }

  header .container p {
    font-size: 30px;
  }

  #classes h2 {
    margin: 20px;
    font-size: 2rem;
  }

  #classes .container {
    flex-direction: column;
  }

  #classes p {
    font-size: 1rem;
    line-height: 1.5;
  }

  #classes i {
    font-size: 2rem;
  }

  #pic2 .container h2 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    line-height: 1.8em;
    padding: 20px;
  }

  #grid {
    grid-template-columns: 1fr;
  }

  #footer .box2 p {
    font-weight: 600;
  }
}